/* VARIABLES */
:root {
  --color-blue: #0075cb;
  --color-grey: #6a6a6a;
  --color-grey-light: #efefef;
  --color-orange: #ffb547;
}

/* RESET */
html,
body {
  margin: 0;
  padding: 0;
}

/* INITIAL */
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}

.signup-form > * {
  margin-bottom: 10px;
}

.button {
  background-color: var(--color-blue);
  color: white;
  border-radius: 10px;
  font-size: 20px;
  min-width: 150px;
  text-align: center;
  padding: 10px;
  border: none;
  font-weight: 600;
  font-size: 24px;
}

.button:hover {
  background-color: white;
  color: var(--color-blue);
  box-shadow: 0 0 0 2px var(--color-blue);
}

.button--secondary {
    background-color: var(--color-grey-light);
    color: var(--color-blue);
    margin-top: 60px;
}

.form-input {
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--color-blue);
    margin-bottom: 40px;
}

.form-label {
    margin: 1px;
    font-weight: 600;
}

.login-cta {
  font-weight: 600;
  margin-bottom: 40px;
}

.link {
  text-decoration: none;
  color: var(--color-blue);
}